<div class="fields right75">
  开始日期: <%= tf.text_field :from_date,{:class=>"start_datepicker"}%>
  结束日期: <%= tf.text_field :to_date,{:class=>"end_datepicker"}%>
  <%= link_to_remove "删除", tf %>
</div>