<% title "Season" %>

<p>
  <strong>Name:</strong>
  <%= @season.name %>
</p>

<p>
  <%= link_to "Edit", edit_season_path(@season) %> |
  <%= link_to "Destroy", @season, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", seasons_path %>
</p>
