<% title "修改景区" %>

<%= render 'form' %>

<table class="formtable01">
      <tr class="formtable01">
        <td class="formtable01" style="text-align:center; ">
          <%= button_to "查看", @spot, {:class=> "btn", :style=> "float:none;", :method => :get} %>
          <%= button_to "景区列表", spots_path, {:class=> "btn", :style=> "float:none;", :method => :get} %>
        </td>
      </tr>
    </table>

