.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: #eef3f9;
}

header {
    background: url(../images/headbg.jpg) repeat-x;
    height: 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header img {
    padding: 1em;
    background: #fff;
}

section {
    margin: 0 auto;
    padding: 0;
    background: #fff;
    border: 1px solid #80aac3;
    width: 1050px;
}

nav {
    float: right;
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 5px auto;
}

footer {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

footer nav {
    float: none;
    background: url(../images/bottombg.jpg) repeat-x;
    height: 40px;
    width: 100%;
    line-height: 40px;
    color: #fff;
    padding: 0;
}

div.field div.actions {
    margin-bottom: 10px;
}

.error_explanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

.error_explanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

.error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

#main {
    margin-top: 0;
    clear: both;
}

.simple_form div.input {
    margin-bottom: 10px;
}

.simple_form label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
}

div.boolean {
    margin-left: 120px;
}

div.boolean label, label.collection_radio {
    float: none;
    margin: 0;
}

label.collection_radio {
    margin-right: 10px;
    vertical-align: -2px;
    margin-left: 2px;
}

.field_with_errors {
    background-color: #ff3333;
}

.simple_form .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
    font-size: 12px;
}

.simple_form .hint {
    clear: left;
    margin-left: 120px;
    font-size: 12px;
    color: #555;
    display: block;
    font-style: italic;
}

input.radio {
    margin-right: 5px;
    vertical-align: -3px;
}

input.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
}

label.collection_check_boxes {
    float: none;
    margin: 0;
    vertical-align: -2px;
    margin-left: 2px;
}

div.right75 {
    margin-left: 75px;
}

div.add_timespan {
    margin-left: 800px;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 30%;
}

.headout {
    width: 1050px;
    height: 80px;
    margin: 0 auto;
}

.headlogo {
    border: none;
    padding: 0;
    margin: 0;
    width: 280px;
    height: 80px;
    float: left;
}

.headlogoimg {
    border: none;
    padding: 0;
    margin: 0;
}

.headfont {
    width: 150px;
    height: 80px;
    line-height: 80px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    float: left;
}

.headright {
    width: 770px;
    height: 80px;
    float: right;
}

.headrighttop {
    height: 40px;
    float: right;
    line-height: 40px;
    color: #fff;
    text-align: right;
}

.headrighttop a, .headrighttop a:visited {
    color: #fff;
    text-decoration: none;
}

.headrighttop a:hover {
    color: #fff;
    text-decoration: underline;
}

.headrightbottom {
    height: 40px;
    float: right;
    clear: right;
}

.headrightbottom ul {
    height: 40px;
    line-height: 40px;
    float: left;
}

.headrightbottom li {
    width: 100px;
    height: 40px;
    float: left;
    margin: 0 5px;
    list-style-image: none;
}

.headrightbottom li a:visited {
    width: 100px;
    height: 40px;
    float: left;
    background: url(../images/headbg.jpg) no-repeat;
    color: #fff;
    text-decoration: none;
    display: block;
}

.bottom_links{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    text-align:center;
}

.new_button, .buttons .button, .bottom_links input {
    width: 108px;
    height: 29px;
    line-height: 29px;
    background: url(../images/btnbg.jpg) no-repeat;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.new_button {
    float: right;
    margin-right: 20px;
}

.result_count {
    text-align: left;
    background: none;
    border: none;
    color: #ff5e05;
    font-weight: bold;
    clear: right;
    margin-left: 15px;
}

.search_table td {
    border: none;
    width: 400px;
}

.even td {
    background: #fff;
}

.odd td {
    background: #f1f1f1;
}

.button_to, .button_to div  {
    display: inline;
}

.show_table {
    width: 1000px;
    margin: 10px auto;
}

.textright {
    width: 250px;
    text-align: right;
    background: #e0edf5;
    font-weight: bold;
}

.textleft {
    width: 250px;
    text-align: left;
    background: #fff;
    margin-left: 5px;
}

#nav {
    line-height: 24px;
    list-style-type: none; /*background: #666;*/
}

#nav a {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#nav a:link {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

#nav a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

#nav a:hover {
    color: #333;
    text-decoration: none;
}

#nav li {
    float: left;
    width: 100px;
    background: url(../images/menublue.jpg) no-repeat;
    margin: 0 5px;
}

#nav li a:hover {
    background: url(../images/menublue01.jpg) no-repeat;
}

#nav li.acitve {
    background: url(../images/menublue01.jpg) no-repeat;
}

#nav li ul {
    line-height: 27px;
    list-style-type: none;
    text-align: left;
    left: -999em;
    position: absolute;
    width: 100px;
    margin: 0 -5px;
    padding: 0;
}

#nav li ul li {
    float: left;
    width: 100px;
    background: #bee1f4;
}

#nav li ul a {
    display: block;
    width: 95px;
    _width: 100px;
    *width: 100px;
    text-align: left;
    overflow: hidden;
}

#nav li ul a:link {
    color: #134f91;
    text-decoration: none;
    padding-left: 5px;
}

#nav li ul a:visited {
    color: #134f91;
    text-decoration: none;
}

#nav li ul a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    background: #2f74c1;
}

#nav li:hover ul {
    left: auto;
}

#nav li.sfhover ul {
    left: auto;
}

div.empty_home {
    height: 500px;
    background-color: #eef3f9;
    border: none;
}

fieldset.inputs .buttons input[type="submit"] , .search_button {
    width: 40px;
    line-height: 22px;
    height: 22px;
    border: none;
    background: #0eb3e3;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

fieldset.buttons {
    width: 100px;
}

table.search_table, table.search_table tr {
    border: none;
}



