body{
    background-color: #4b7399;
}
.container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.container h3{
    text-align: center;
}
#login_table {
    background-color: #FFFFFF;
    border: 1px solid #C3D9FF;
}

.signup_td{
    text-align: right;
}



