<% title "产量同比环比报表" %>

<div id="search">
  <%= form_tag reports_generate_agent_output_rate_path, :id => "output_report_form" do %>
      <fieldset class="inputs">
        <table class="search_table">
          <tr>
            <td class="report_date_select">
              <span><%= select_tag :year, options_for_select([[2011, 2011], [2010, 2010]], params[:year]) %>年</span>
              <span><%= select_tag :month, options_for_select([[2011, 2011]], params[:month]) %>月</span>
            </td>
            <td></td>
            <td>
              <fieldset class="buttons">
                <%= submit_tag "查询" %>
              </fieldset>
            </td>
          </tr>
        </table>
      </fieldset>
  <% end %>
</div>
<div id="report"/>