<% title "入园报表" %>
<div id="search">
  <%= form_tag reports_generate_spot_checkin_path, :id => "output_report_form" do %>
       <%= render 'checkin_condition' %>
  <% end %>
</div>
<div id="report"/>