<% title "每月销售统计报表" %>
<div id="search">
  <%= form_tag reports_generate_spot_month_reservations_path, :id => "output_report_form" do %>
      <fieldset class="inputs">
        <table class="search_table">
          <tr>
            <td class="report_date_select">
              <span>年 <%= select_tag :year, options_for_select([[2011, 2011], [2010, 2010]], params[:year]) %></span>
              <span>月 <%= select_tag :month, options_for_select([[2011, 2011]], params[:month]) %></span>
            </td>
            <td></td>
            <td>
              <fieldset class="buttons">
                <%= submit_tag "查询" %>
              </fieldset>
            </td>
          </tr>
        </table>
      </fieldset>
  <% end %>
</div>
<div id="report"/>