<footer>
	<nav class="round" style="margin-top:5px;">
		<ul>
			<li><a href="http://www.derbysoft.com/"><span style="color:#fff; font-size:12px;">DerbySoft</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="http://ruby.railstutorial.org/"><span style="color:#fff; font-size:12px;">Rails</span></a></li>
		</ul>
	</nav>
</footer>


