<ul id="nav">
  <% if  current_user %>
      <% for menu_group in user_menu_groups %>
          <li>
            <a href="#"><%= menu_group.name %></a>
            <ul>
              <% for menu in menu_group.my_menus %>
                  <li><a href="<%= send(menu.url) %>"><%= menu.name %></a></li>
              <% end %>
            </ul>
          </li>
      <% end %>
  <% end %>
</ul>

